<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- CSS here -->

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> header}}  <!-- Import header -->
    
    <div class="container">
        {{{body}}}  <!-- Đây là phần nội dung của từng trang con -->
    </div>

    {{> footer}}  <!-- Import footer -->

</body>
</html>
